{
    "extends": [
      "react-app",
      "plugin:@typescript-eslint/eslint-recommended",
      "airbnb-typescript",
      "plugin:@typescript-eslint/recommended",
      "plugin:eslint-comments/recommended",
      "plugin:promise/recommended",
      "prettier",
      "prettier/react",
      "prettier/@typescript-eslint"
    ],
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "env": {
      "node": true,
      "browser": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint", "eslint-comments", "promise", "react-hooks"],
    "rules": {
      "no-console": 2,
      "@typescript-eslint/explicit-function-return-type": 2
    }
  }
