sudo: required
language: ruby
rvm:
  - 2.4.2
env:
  - SKIP_PREFLIGHT_CHECK=true
services:
  - xvfb
  - postgresql
addons:
  chrome: stable
cache:
  bundler: true
  directories:
    - node_modules
    - frontend/node_modules
before_install:
  - nvm install 10.15
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
  - export PATH="$HOME/.yarn/bin:$PATH"
  - yarn install
before_script:
  - export PATH=$PATH:/usr/lib/chromium-browser/
  - export DISPLAY=:99.0
  - sleep 3
  - cp .env.example .env
  - psql -c 'create database boxcar_test;' -U postgres
  - bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare --trace
  - npm run build
script:
  - bundle exec rubocop
  - bundle exec rspec
  - bundle exec brakeman -q -w2 -z --no-summary
  - bundle exec bundle-audit --update
  - yarn lint
  - yarn lint-frontend
